ASHLEY_CLIENT_ID=your_ashley_client_id
ASHLEY_CLIENT_ID_HEADER=client_id
ASHLEY_USERNAME=your_ashley_direct_username
ASHLEY_PASSWORD=your_ashley_direct_password
ASHLEY_CUSTOMER=your_customer_number
ASHLEY_SHIPTO=your_ship_to_number
